/* Base styles */
body {
  background-color: white;
  color: black;
  /* padding: 0 10% 0 10%; */
}

@media (min-width: 640px) {
  .template-container {
    padding: 1.5rem; /* Small screens padding */
  }
}

@media (min-width: 1024px) {
  .template-container {
    padding: 2rem; /* Large screens padding */
  }
}
