@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode styles */
/* Light mode styles */
* {
    font-family: "Poppins", sans-serif !important;
    -webkit-tap-highlight-color: transparent;
  }
  :root {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --rsbs-backdrop-bg: rgba(0, 0, 0, 0.3);
    --rsbs-bg: ${theme.darkmode ? "#383838" : "#ffffff"};    
  }
  img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  a {
    text-decoration: none;
    -webkit-text-decoration: none;
    color: inherit;
  }
  a.dark {
    background-color: black !important;
    color: white;
  }
  input[type="file"]::-webkit-file-upload-button {
    display: none;
  }

